@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "top top" "main main" "footer footer";
    margin: 0;
    /* max-width: 1600px; */
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1600px) 1fr;
    grid-template-rows: auto auto;

    grid-area: header;

    grid-column: 1/4;
    grid-row: 1/2;

    /* display: block; */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

main {
    grid-area: main;
    max-width: 1600px;

    grid-column: 2/3;
    grid-row: 2/3;
}

footer {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1600px) 1fr;

    grid-area: footer;

    grid-column: 1/4;
    grid-row: 3/4;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

header > section, header > div {
    grid-column: 2/3;
    grid-row: 2/3;
}

#top-menu, footer > section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    padding: 1rem;

    grid-column: 2/3;
    grid-row: 1/2;
}

#top-menu ul, .social-icons{
    margin: 0;
    padding: 0;
}

#top-menu ul li {
    display: block;
    text-align: center;
    margin: 0.5rem 0;
}

.social-icons li {
    display: inline-block;
    margin: 0 0.5rem;
}

#top-menu ul li a, .social-icons li a {
    display: inline-block;
    margin: 0 0.5rem;
}

.logo {
    width: 100px;
}

.current {
    position: relative;
    padding: 0.2rem 0;
    /* border-bottom: 3px solid #e6bd43; */
    /* border-bottom: 3px solid #e6bd43; */
    font-weight: bold;
}

.current::before {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #e6bd43;
    /* transform: scaleX(0); */
}

.button {
    display: inline-block;
    padding: 1rem;
    background-color: #e6bd43;
    font-weight: bold;
    text-align: center;
}

.only-border {
    background-color: transparent;
    border: 3px solid #000;
}

.map {
    display: block;
    width: 100%;
    height: 200px;
}

.cover {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 3rem 20%;
    text-align: center;
}

.cover-img {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* background: url(https://placehold.co/400x150) no-repeat;
    background-size: 100%; */
    background-color: #6e6e6e;
    width: 100%;
}

.cover-img > h1 {
    width: 100%;
    padding: 7rem 0;
    text-align: center;
}

.transparency {
    background: rgba(255, 255, 255, 0.75);
}

.grey {
    background-color: #d6d6d6;
}

.yellow {
    background-color: #e6bd43;
}

.img-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding: 3rem;
}

.img-text > img {
    width: 80%;
    max-width: 400px;
}

/* https://www.w3schools.com/css/css_image_transparency.asp */
#about {
    display: inline-block;
    padding: 2rem;
    margin: 2rem;
}

.img-text > #about {
    margin: 0;
    padding: 2rem 0;
}

#about > h1 {
    font-size: 1.25rem;
}

#about p {
    order: -1;
}

#services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 5rem 1rem 1rem 1rem;
    margin: 0;
    gap: 1rem;
}

#contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem 1rem 2rem 1rem;
    gap: 2rem;
    background-color: #F3F0F1;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    margin: 0;
    gap: 1rem;
}

.products:has(article) {
    gap: 2rem;
}

/* https://css-tricks.com/understanding-flex-grow-flex-shrink-and-flex-basis/ */
.products article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;

    min-width: 200px;
    max-width: 692px;

    flex: 1 1 346px;
    transform: scale(1);
    transition: transform 1s ease;
}

.products article > img {
    order: -1;
    width: 100%;
}

#services h2, #clients h2, .products h2, #contact h2 {
    width: 100%;
}

.products h2 {
    padding: 0.5rem 0;
    border-bottom: 3px solid #e6bd43;
}

#services h2, #clients h2, #contact h2 {
    margin: auto;
    text-align: center;
}

#contact article {
    flex-basis: 90%;
}

/* https://www.geeksforgeeks.org/how-to-exclude-particular-class-name-from-css-selector/ */
#contact label, #contact input:not(.button), #contact textarea {
    display: block;
    width: 100%;
    margin: 0.75rem 0;
    
}

#contact input, #contact textarea {
    padding: 0.5rem;
    border-style: none;
}

#contact textarea {
    padding: 0.5rem;
    resize: vertical;
}

/* https://stackoverflow.com/questions/9382245/how-to-disable-textarea-resizing */
/* https://css-tricks.com/the-css-has-selector/ */
#contact input:has(.button) {
    display: block;
}

#contact ul {
    padding: 0;
}

#contact li i, #contact li p, #contact li a {
    display: inline-block;
    margin: 0.5rem 0.5rem
}

#contact li a {
    text-decoration: underline;
    color: blue;
}

#news-signup {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#news-signup input {
    padding: 1rem;
}

#services article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    margin: 2rem 0;
    flex-basis: 20%;
    text-align: center;
}

#services article h3 {
    margin: 0.5rem;
}

#services article i {
    order: -1;
    font-size: 1.5rem;
}

#clients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    padding: 3rem 0 2rem 0;
}

footer {
    background-color: #252525;
    color: #fff;
    margin: 0;
    padding: 2rem 0;
}

.social-icons li a {
    color: #fff;
    font-size: 2rem;

}

@media only screen and (min-width: 800px) {
    #top-menu, footer > section {
        flex-direction: row;
    }

    #topmenu ul li {
        margin: 0;
    }

    #top-menu ul li, .social-icons li{
        display: inline-block;
        
    }

    .button:hover {
        background-color: #252525;
        color: #e6bd43;
    }
    
    .button:hover > a {
        color: #e6bd43;
    }

    .products article:hover {
        transform: scale(1.05);
    }

    #about {
        flex-basis: 50%;
    }

    .img-text {
        flex-wrap: nowrap;
    }

    .img-text > img {
        width: 50%;
    }

    .img-text > #about {
        margin: 2rem;
        padding: 2rem;
    }

    #contact article {
        flex-basis: 40%;
    }
    
}
