@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* max-width: 1600px; */
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

header {
    display: block;
    margin: 0;
    padding: 0;
}

#top-menu {
    padding: 1rem;
}

#top-menu, footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#top-menu ul, .social-icons{
    margin: 0;
    padding: 0;
}

#top-menu ul li {
    display: block;
    text-align: center;
    margin: 0.5rem 0;
}

.social-icons li {
    display: inline-block;
    margin: 0 0.5rem;
}

#top-menu ul li a, .social-icons li a {
    display: inline-block;
    margin: 0 0.5rem;
}

.logo {
    width: 100px;
}

.current {
    padding: 0.1rem 0;
    border-bottom: 3px solid #e6bd43;
    /* border-bottom: 3px solid #e6bd43; */
    font-weight: bold;
}

.button {
    display: inline-block;
    padding: 1rem;
    background-color: #e6bd43;
    font-weight: bold;
}

.button:hover {
    background-color: #252525;
    color: #e6bd43;
}

.button:hover > a {
    color: #e6bd43;
}

.only-border {
    background-color: transparent;
    border: 3px solid #000;
}

.map {
    display: block;
    width: 100%;
    height: 200px;
}

.cover {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 3rem 20%;
    text-align: center;
}

.cover-img {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* background: url(https://placehold.co/400x150) no-repeat;
    background-size: 100%; */
    background-color: #6e6e6e;
    width: 100%;
}

.cover-img > h1 {
    width: 100%;
    padding: 100px;
    text-align: center;
}

.grey {
    background-color: #d6d6d6;
}

.img-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    border-top: 2px solid #000;
    border-bottom: 2px solid #000;

    padding: 3rem;
}

/* https://www.w3schools.com/css/css_image_transparency.asp */
#about {
    display: inline-block;
    padding: 2rem;
    margin: 2rem;
    background: rgba(255, 255, 255, 0.75);
    width: 50%;
}

#about p {
    order: -1;
}

#services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 3rem 1rem 1rem 1rem;
    margin: 0;
    gap: 1rem;
}

#contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 1rem 2rem 1rem;
    gap: 2rem;
    background-color: #F3F0F1;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    margin: 0;
    gap: 1rem;
}

.products:has(article) {
    gap: 2rem;
}

/* https://css-tricks.com/understanding-flex-grow-flex-shrink-and-flex-basis/ */
.products article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;

    min-width: 200px;
    max-width: 692px;
    /* flex: 0.5 0 200px; */
    flex: 1 1 346px;
}

.products article > img {
    order: -1;
    width: 100%;
}

#services h2, #clients h2, .products h2, #contact h2 {
    width: 100%;
}

.products h2 {
    padding: 0.5rem 0;
    border-bottom: 3px solid #e6bd43;
}

#services h2, #clients h2, #contact h2 {
    margin: auto;
    text-align: center;
}

#contact article {
    flex-basis: 40%;
}


/* https://www.geeksforgeeks.org/how-to-exclude-particular-class-name-from-css-selector/ */
#contact label, #contact input:not(.button), #contact textarea {
    display: block;
    width: 100%;
    margin: 0.75rem 0;
    
}

#contact input, #contact textarea {
    padding: 0.5rem;
    border-style: none;
}

#contact textarea {
    padding: 0.5rem;
    resize: vertical;
}

/* https://stackoverflow.com/questions/9382245/how-to-disable-textarea-resizing */
/* https://css-tricks.com/the-css-has-selector/ */
#contact input:has(.button) {
    display: block;
}

#contact ul {
    padding: 0;
}

#contact li i, #contact li p, #contact li a {
    display: inline-block;
    margin: 0.5rem 0.5rem
}

#contact li a {
    text-decoration: underline;
    color: blue;
}

#news-signup {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#news-signup input {
    padding: 1rem;
}

#services article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    margin: 2rem 0;
    flex-basis: 20%;
    text-align: center;
}

#services article h3 {
    margin: 0.5rem;
}

#services article i {
    order: -1;
    font-size: 1.5rem;
}

#clients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: flex-end;
    background-color: #e6bd43;
    gap: 2rem;
    padding: 3rem 0 2rem 0;
}

footer {
    background-color: #252525;
    color: #fff;
    margin: 0;
    padding: 2rem 1rem 2rem 1rem;
}

.social-icons li a {
    color: #fff;
    font-size: 2rem;

}

@media only screen and (min-width: 650px) {
    #top-menu, footer {
        flex-direction: row;
    }

    #topmenu ul li {
        margin: 0;
    }

    #top-menu ul li, .social-icons li{
        display: inline-block;
        
    }
}
